main {
  background-color: rgb(17, 24, 39);
  height: calc(100vh - 90px);
  //overflow: auto;
  display: flex;
  justify-content: center;

  .router {
    max-width: 1300px;
    min-width: 80dvw;
    padding: 1rem;
    overflow: auto;
  }
}
