
.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    position: absolute;
  }

  input[type="checkbox"]:checked + label::before {
    content: "\2713";
    background-color: #1C75BC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 
  }

  label {
    color: gray;
    display: flex;
    align-items: center;
  }

  label::before {
    content: "";
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
    box-shadow: 0px 0px 4px 0px #00000040;
    background-color: white;
    border-radius: 2px;
    margin-right: 8px;
  }
}
