<div class="movie-card">
  <div class="category-badge">
    <div class="category">{{ movie().category }}</div>
  </div>

  <div class="movie-content">
    <p class="movie-title">{{ movie().title }}</p>
    <p class="movie-description">
      {{ movie().description.slice(0, 150) }}
    </p>
  </div>

  <div class="movie-actions">
    <app-main-button (click)="deleteItem(movie().id)">
      <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="delete"></mat-icon>
    </app-main-button>
    <app-main-button [routerLink]="'/home/movie/' + movie().id">
      <mat-icon aria-hidden="false" aria-label="Info icon" fontIcon="info"></mat-icon>
    </app-main-button>
  </div>
</div>
