<header
  class="bg-black h-16 flex justify-evenly  items-center text-white"
>
  <div class="text-3xl" routerLink="">LOGO</div>
  <div class="flex w-1/2 justify-between text-center items-center">
    @for (section of headerSection; track $index) {
      <div class="hover:text-gray-500 cursor-pointer">{{ section }}</div>
    }
  </div>
  <app-custom-input [placeholder]="'Search'"></app-custom-input>
</header>
<div class="text-white">
  <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
  <ng-template #iconTemplate> > </ng-template>
</div>
