<header>
  <app-main-button routerLink="/">Home</app-main-button>
  <app-main-button routerLink="/sign-in">Log In</app-main-button>
  <app-main-button routerLink="/sign-up">Sign Up</app-main-button>
  <app-main-button routerLink="chat">Chat</app-main-button>
  <div class="avatar">{{ user()?.firstName }} {{ user()?.lastName }}</div>
  <app-custom-input [placeholder]="'Search'"></app-custom-input>
</header>
<div class="breadcrumbs">
  <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
  <ng-template #iconTemplate> > </ng-template>
</div>
