::ng-deep .xng-breadcrumb-root {
  padding: 8px 16px;
  display: block;
  border-radius: 4px;
}

::ng-deep xng-breadcrumb-list {
  text-align: end;
}

header{
  background-color: black;
  height: 4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.header-buttons{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 50%;
}

.breadcrumbs{
  color: white;
}
