.custom-button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  width: 100%;
}

.custom-button-active {
  background-color: #4b5563;
  color: white;
  cursor: pointer;
}

.custom-button-active:hover {
  background-color: #d1d5db;
}

.custom-button-disabled {
  background-color: #9099aa;
  color: #d1d5db;
  cursor: not-allowed;
}
