<div class="wrapper">
  <div class="header">
    @for (user of receiver(); track $index) {
      <mat-icon>person</mat-icon>
      <div class="receiver">{{ user }}</div>
    }
  </div>

  <div class="message-box" #messageBox>
    @for (message of messages(); track message.id) {
      <div
        class="message"
        [ngClass]="
          authService.currentUserId() === message.sender.id
            ? 'my-message'
            : 'not-my-message'
        "
      >
        <div class="message-body">
          <div class="message-body-text">
            {{ message.text }}
          </div>
          <div class="message-body-date">
            {{ message.createdAt | date: "HH:mm" }}
          </div>
        </div>
      </div>
    }
  </div>
  <div class="action">
    <app-custom-input
      [formControl]="newMessageText"
      type="textarea"
    ></app-custom-input>
    <app-main-button class="send" (click)="sendMessage()"
      ><div>SEND</div>
    </app-main-button>
  </div>
</div>
