<div class="wrapper">
  <button (click)="scrollToBottom()">SCR</button>
  <div class="message-box" #messageBox>
    @for (message of messages(); track message.id) {
      <div
        class="message"
        [ngClass]="
          authService.currentUserId() === message.sender.id
            ? 'my-message'
            : 'not-my-message'
        "
      >
        <div class="message-body">
          <div class="message-body-text">
<!--            <div>SENDER {{message.sender.id}}</div>-->
<!--            <div>CURENT {{authService.currentUserId()}}</div>-->
            {{ message.text }}
          </div>
          <div class="message-body-date">
            {{ message.createdAt | date: "HH:mm" }}
          </div>
        </div>
      </div>
    }
  </div>
  <app-custom-input
    [formControl]="newMessageText"
    type="textarea"
  ></app-custom-input>
  <app-main-button (click)="sendMessage()">Send </app-main-button>
</div>
