.ng-select.custom {
  border: 0px;
  background-color: var(--color-gray-200);
  border-radius: 3px;
  min-height: 40px;

  ng-dropdown-panel {
    background-color: var(--color-gray-200);
    padding: 8px;
  }

  .ng-input {
    padding: 8px;
  }
  .ng-value {
    padding: 8px;
  }
}
