<main>
  <a routerLink="/home/new-movie">
    <div class="mt-3">
      <app-main-button><span>Add new movie</span></app-main-button>
    </div>
  </a>
  <mat-paginator
    [length]="total()"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 15]"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>

  @if (movieList().length) {
    <app-movie-list [movieList]="movieList()"></app-movie-list>
  } @else {
    <div class="empty" style="color: red">No Movies...</div>
  }
</main>
